<a href="https://colab.research.google.com/github/nhemanth1103/PythonPsolving/blob/main/python_PSolving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem1:**Given an integer, , perform the following conditional actions:

If  n is odd, print Weird

* If  n is even and in the inclusive range of 2 to 5, print Not Weird  
*   If  n is even and in the inclusive range of 6 to 20, print Not Weird

*   If  n is even and greater than 20, print Not Weird

In [ ]:
if __name__ == '__main__':
    n = int(input().strip())

    if n % 2 != 0:
        print('Weird')
    elif n % 2 == 0 and (2 < n < 5):
        print('Not Weird')
    elif n % 2 == 0 and (6 < n < 20):
        print('Weird')
    elif n % 2 == 0 and n > 20:
        print('Not Weird')

3
Weird


**My Learnings:**iF elif problem ,
There is a difference between operation (and) is not same as (&),
'and' (logical operator) used in logical comparison ,&(bitwise operator) used in integers.MAin difference is 'and' stop evaluating once it determined where '&'operands are always evaluated

**problem2**:The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.

In [ ]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)

3
5
8
-2
15

**Problem3**:The provided code stub reads and integer,n , from STDIN. For all non-negative integers i<n, print i*i.

In [ ]:
n=int(input())

for i in range(n):
  print(i*i)

3
0
1
4

**problem 4**:An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In [ ]:
year = int(input())

if (year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)):
    print(True)
else:
    print(False)

2024
True

**problem 6:**Without using any string methods, try to print the following:123......n.

Note that "..." represents the consecutive values in between.


Example:
n=5
Print the string 12345.

In [ ]:
if __name__ == '__main__':
    n = int(input())
    for i in range(1,n+1):
        print(i,end="")

5
12345

**Problem7:**You are given three integers  and  representing the dimensions of a cuboid along with an integer . Print a list of all possible coordinates given by i,j,k  on a 3D grid where the sum of  is not equal to . Here,0<=i<=x,0<=i<=y,0<=i<=z. Please use list comprehensions rather than multiple loops, as a learning exercise.

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())

combinations=[[i,j,k]for i in range(0,x+1)for j in range(0,y+1)for k in range(0,z+1)if i+j+k!=n]
print(combinations)

1
1
2
3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2]]

**Problem:8** Given list is[2 3 6 6 5] . The maximum score is 6, second maximum is 5. Hence, we print  as the runner-up score.

In [ ]:
#find runner up score
n=int(input())
arr=list(map(int,input().split()))
#Deleting duplicates in a list
arr=list(set(arr))
#sorting the list in ascending order
arr.sort()
#accessing last but one element in a list
print(arr[-2])

3
1  2 3
2

**My new learnings**:'Map'function applies the int function to each element in the list produced by input().split().

**problem 9**:Given the names and grades for each student in a class of 'N' students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

In [ ]:
if __name__ == '__main__':
    students = []
#  Initialize an empty list to store student datastudents = []

#  Input the number of students
n = int(input())

#  Collect name and grade for each student
for _ in range(n):
    # Each student's name
    name = input()
    # Each student's score
    score = float(input())
    students.append([name, score])

# Extract all grades and find unique, sorted grades
grades = [student[1] for student in students]
unique_grades = sorted(set(grades))

# Get the second lowest grade
second_lowest_grade = unique_grades[1]

#  Find students with the second lowest grade
second_lowest_students = [student[0] for student in students if student[1] == second_lowest_grade]

# Sort names alphabetically
second_lowest_students.sort()

# Print each name on a new line
for name in second_lowest_students:
    print(name)

3
hem
37
ram
40
sai
28
hem

**Problem10**:Print the average of the marks array for the student name provided, showing 2 places after the decimal.

In [1]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}

    # Read student records
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores

    # Read query name
    query_name = input()

    # Calculate and print average for query_name
    if query_name in student_marks:
        marks = student_marks[query_name]
        average = sum(marks) / len(marks)
        print(f"{average:.2f}")

3
ram 30 40 38
jai 45 89 34
sai  32 89 54
sai
58.33